
@{
    ViewBag.Title = "About";
}

<!-- about section -->

<section class="about_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="img_container">
                    <div class="img-box b1">
                        <img src="~/Images/10.png" alt="">
                    </div>
                    <div class="img-box b2">
                        <img src="~/Images/gloves.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <h2>
                        About Our Shop
                    </h2>
                    <p>
                        Gloves Hub, a leading gloves manufacturing company, offers a comprehensive range of quality gloves, workwear,
                        and fashion wear. Established as a pioneer in the industry, Gloves Hub provides products tailored for individuals
                        conscious about safety. Their product range includes cotton gloves, nylon gloves, inspector gloves, stockinette gloves,
                        polyester gloves, PVC dotted gloves, mitten gloves, terry gloves, kitchen gloves, oven gloves, reflective safety jackets,
                        workwear, and fashion wear
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->
